# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.runtimeconfig.json
# your secret of your password and database name will not be pushed to gitHub